<header class="header">
  <div class="container header-container">
    <!-- Logo -->
    <a class="nav-logo" href="./index.html" aria-label="Go to Home page">
      <svg class="nav-logo-icon" width="132" height="24" aria-hidden="true">
        <use href="{=$icon-path}"></use>
      </svg>
    </a>

    <!-- Navigation -->
    <nav class="nav" aria-label="Main navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <!-- Social links (desktop & inside burger) -->
    <ul class="social-list">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GoIT Facebook"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GoIT Instagram"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GoIT YouTube"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- Burger button (mobile) -->
    <button
      type="button"
      class="burger-btn"
      aria-label="Open navigation menu"
      aria-expanded="false"
    >
      <svg width="32" height="32" aria-hidden="true">
        <use href="img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu" hidden>
    <nav aria-label="Mobile navigation">
      <ul class="mobile-nav-list">
        <li>
          <a class="mobile-nav-link" href="./index.html">Home</a>
        </li>
        <li>
          <a class="mobile-nav-link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-social-list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GoIT Facebook"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GoIT Instagram"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GoIT YouTube"
        >
          <svg width="24" height="24">
            <use href="img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>